{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "requireConfigFile": false,
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "prettier"],
    "plugins": ["prettier"],
    // add your custom rules here
    "rules": {
        "guard-for-in": 2
    }
}
